//logo
.logo {
    height: 3.25rem;
     margin: 2rem;
}

//search
.search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all .2s;
        margin-right: -3rem;
        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }
        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }
    &__input:focus + &__button{
        background-color: var(--color-grey-light-3);
    }
    &__button {
        border: none;

        background-color: var(--color-grey-light-3);
        &:focus {
            outline: none;
        }
        &:active {
            transform: translateY(2px);
        }
    }
    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}

// user nav
.user-nav {
    // background-color: green;
    display: flex;
    align-items: center;
    align-self: stretch;
    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }
    & > *:hover {
        background-color: var(--color-grey-light-2);
    }
    &__icon-box {
        display: flex;
        align-items: center;
        position: relative;
    }
    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
        position: relative;
    }
    &__notification {
        font-size: .8rem;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__user {

    }
    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }
    &__user-name {
        font-size: 1.6rem;
        // padding: .5rem;
    }
}

//side-nav
.side-nav {
    font-size: 3.4rem;
    list-style: none;
    margin-top: 3.50rem;
    &__item {
        position: relative;
        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }

    &__link {

    }
    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        transform: scaleY(0);
    }
    &__item:hover::before {
        transform: scaleY(1);
    }
    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
    }
    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;
    }
}
// Legal text
.legal {
    font-size: 1.2rem;
    text-align: center;
    padding: 2.5rem;
    color: var(--color-grey-light-4);
}
